#cardclass{ 
    /* height: 370px; */
     width: 230px; 
 }

a {
    text-decoration: none !important;
}

#search-results-text{
    padding-left: 15px;
}


#card-title-text{
    text-align: center;
}

#btn-item-add-to-cart{
    width: 100%;
    padding: 10px;
}

#card-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    /* white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;  */
    /* white-space: initial; */
}

#card-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    /* white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;  */
    /* white-space: initial; */
}

#card-img-top{
    height: 200px;
}
#itemRight{
    margin-bottom: 50px;
}
#itemLeft{
    margin-bottom: 50px;
}

#content {
    border:1px solid black;
}

#content > div {
    height:100px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#left {
    /* padding-top: 100px; */
    float:left;
    width: 25%;
    /* padding-left: 15px; */
}

#right {
    /* padding-top: 100px; */
    float:right;
    width: 75%;
}

#left-items {
    padding-top: 100px;
    float:left;
    width: 25%;
    text-align: center;
    padding-right: 15px;
    position: absolute;
    top: 400px;
    left: 1px;
    background-color: white;
    padding-bottom: 500px;
}

#right-items {
    padding-top: 100px;
    float:right;
    width: 75%;
    position: absolute;
    top: 400px;
    right: 1px;
    background-color: white;
}

#rest-title{
    color: black;
}

#text-left{
    color: black;
    margin-right: 50px;
    float: left;
}
#text-phone{
    color: black;
    /* margin-left: 000px; */
}
#restHomeImage{
    /* clip: rect(600px,600px,600px,600px); */
    /* padding-left: 100px; */
    /* object-fit: contain; */
    /* padding-right: 100px; */
    width: 100%;
}
#container {
  position: relative;
  
  color: white;
}

#rest-home-details{
    position: absolute;
    top: 300px;
    /* left: px; */
    width: 100%;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: white;
}



#add-button{
    left: 0px;
}

#quant-text{
    width:50px;
    margin: 20px;
}