
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* custom css */
/* .img-fluid{
  max-width: 100%; 
   height: auto;
   object-fit: cover;
} */

.fit-image{
  width: 760px;
  object-fit: fill;
  height: 720px; /* only if you want fixed height */
  }


#signin{
  background-color: rgba(243, 0, 0, 0.733)
}

.navbar-xs { min-height:28px; height: 60px;}

/* #header {
  background-color: white;
  position: fixed;
  width: 100%
} */


#btn-submit-profile,#btn-submit-restaurant,#btn-cancel-profile,#btn-cancel-restaurant,#profileImage,#restImages{
  visibility: hidden
}

/* #btn-cancel-submit{
  visibility: hidden
} */

#password{
  display: none
}

#side-nav{
  height: 620px;
}

/* input:hover {
  border: 2px solid rgb(5, 145, 238);
} */

.profile-heading img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* #itemcard{
  width: 18rem;
} */

#itemimage{
  width: 400px;
  height: 200px; 
}


.dropdown:hover>.dropdown-menu{
  display: block;
}



#restHomeImage{
  /* clip: rect(600px,600px,600px,600px); */
  /* padding-left: 100px; */
  /* object-fit: contain; */
  /* padding-right: 100px; */
  width: 100%;
}


.rest-home-details{
  position: absolute;
  top: 300px;
  /* left: px; */
  width: 100%;
  padding-left: 50px;
  padding-bottom: 50px;
  background-color: white;
}



.rest-item-Right{
  position: absolute;
  top: 400px;
  right: 1px;
  background-color: white;
}
#right-items {
  padding-top: 100px;
  float:right;
  width: 75%;
}


#left {
  /* padding-top: 100px; */
  float:left;
  width: 25%;
  /* padding-left: 15px; */
}

#right {
  /* padding-top: 100px; */
  float:right;
  width: 75%;
}

#left-items {
  padding-top: 100px;
  float:left;
  width: 25%;
  text-align: center;
  padding-right: 15px;
}
.item-type-Left{
  position: absolute;
  top: 400px;
  left: 1px;
  background-color: white;
  padding-bottom: 500px;
}



#add-button{
  left: 0px;
}

#quant-text{
  width:50px;
  margin: 20px;
}

#left {
  /* padding-top: 100px; */
  float:left;
  width: 25%;
  /* padding-left: 15px; */
}

#right {
  /* padding-top: 100px; */
  float:right;
  width: 75%;
}


#content {
  border:1px solid black;
}

#content > div {
  height:100px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}



.card-img-top{
  height: 200px;
}
.itemRight{
  margin-bottom: 50px;
}
.itemLeft{
  margin-bottom: 50px;
}

.card-text{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;  */
  /* white-space: initial; */
}

.card-title{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;  */
  /* white-space: initial; */
}

#card-title-text{
  text-align: center;
}

#btn-item-add-to-cart{
  width: 100%;
  padding: 10px;
}
.cardclass{ 
    /* height: 370px; */
     width: 230px; 
 }
 .rest-title{
  color: black;
}

/* .text-left{
  color: black;
  /* margin-right: 50px; */
  /* float: left; */
/* }  */
.text-phone{
  color: black;
  /* margin-left: 000px; */
}

